.first{
    position: absolute;
    width: 185px;
    height: 50px;
    left: 297px;
    top: 54px;
}

#back-home-btn{
    width: 185px;
    height: 50px;
    left: 199px;
    top: 115px;

    background: #03002E;
    color: white;
    border: 2px solid #35BCBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.second{
    position: absolute;
    width: 1519px;
    height: 481px;
}

#logo{
    position: absolute;
    width: 598px;
    height: 148px;
    top: 140px;
}

#tag{
    position: absolute;
    width: 287px;
    height: 33px;
    top: 280px;
    padding: 0%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;

    /* or 67% */
    display: flex;
    align-items: center;

    color: #000000;
}

.third{
    position: absolute;
    width: 1519px;
    height: 481px;
    top: 280px;
}

#name{
    width: 300px;
    height: 40px;
    left: 567px;

    background: #D9D9D9;
    border-radius: 10px;
}

#email{
    width: 300px;
    height: 40px;
    left: 567px;
    top: 512px;

    background: #D9D9D9;
    border-radius: 10px;
}

#password{
    width: 300px;
    height: 40px;
    left: 567px;
    top: 602px;

    background: #D9D9D9;
    border-radius: 10px;
}

#confirm-password{
    width: 300px;
    height: 40px;
    left: 567px;
    top: 692px;

    background: #D9D9D9;
    border-radius: 10px;
}

#sign-up-btn-1{
    box-sizing: border-box;

    width: 185px;
    height: 50px;

    background: #03002E;
    color: white;
    border: 2px solid #35BCBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}