*{
    margin: 0;
}

.white-space{
    height: 10%;
    width: 100%;
}

#title{
    margin-left: 12%;
    margin-top: 2%;
}

.horizontal-scroll{
    height: 25%;
    width: 100%;
    position: absolute;
    margin-top: 2%;
    text-align: center;
}

.user-btns{
    height: 25%;
    width: 100%;
    margin-top: 2%;
}

.btns{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: #03002E;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button__text,
.button__icon{
    align-items: center;
    padding: 0 24px;
    height: 100%;
}

.button__icon{
    font-size: 4em;
}

.btns:hover{
    background-color: white;
    color: #03002E;
}

.divider{
    margin-top: 17%;
}



.white-space h1 {
    color: black;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
    }
    30% {
        width: 50px;
        height: 0px;
    }
    60% {
        width: 50px;
        height: 80px;
    }